@import "./utils/vars";
@import "./base/base";
@import "./components/visually-hidden";
@import "./components/components";
@import "./partials/header";
@import "./partials/hero";
@import "./partials/decisions";
@import "./partials/servises";
@import "./partials/team";
@import "./partials/clients";
@import "./partials/footer";
@import "./partials/portfolio";
@import "./partials/modal";
