.clients {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0px;

    &__item:not(:first-child) {
      margin-left: 30px;
    }
  }
}

.clients__title {
  margin-bottom: 30px;

  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;

  transition: color 250ms var(--timing-function),
    border-color 250ms var(--timing-function);

  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }

  &:hover .clients__logo,
  &:focus .clients__logo {
    fill: var(--accent-color);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.clients__logo {
  fill: currentColor;
  transition: fill 250ms var(--timing-function);
}
