.decisions {
  display: block;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;

    &__item:not(:first-child) {
      margin-left: 30px;
    }
  }
}

.decisions__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 354px;
  }
}

.decisions__icon {
  display: flex;
  margin-bottom: 30px;
  min-height: 120px;

  background-color: #f5f4fa;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}
.decisions__title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.decisions__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
