.decisions {
  display: flex;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;

 &__item:not(:first-child) {
  margin-left: 30px;
}
}

.decisions__icon {
  display: flex;
  margin-bottom: 30px;
  min-height: 120px;

  background-color: #f5f4fa;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}
.decisions__title {
  margin-top: 0px;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.decisions__text {
  margin-top: 0px;
  margin-bottom: 0px;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
