.site-start {
  background: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}
.main-head {
  display: flex;
  align-items: center;
}
/* Лого Хедеру*/
.position-logo {
  display: flex;
}

.logo__studio--head {
  color: #000000;
}

/* Навігація сайту */
.site-nav {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;

&__item:not(:last-child) {
  margin-right: 50px;
}
}


.site-nav__link {
  transition: color 250ms var(--timing-function);

  padding-top: 21px;
  padding-bottom: 21px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14x;
  letter-spacing: 0.02em;
  color: var(--title-color);

&:hover,
&:focus {
  color: #2196f3;
}
}

.current {
  position: relative;
  color: var(--accent-color);
  
 &::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;

  position: absolute;
  bottom: -12px;
  left: 0;
  background-color: #2196f3;
  border-radius: 2px;
}
}

/* Телефон та мейл */
.auth-nav {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;

  &__item:not(:first-child) {
  margin-left: 50px;
}
}


.auth-nav__link {
  transition: color 250ms var(--timing-function);

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 21px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);

 &:hover,
&:focus {
  color: var(--accent-color);
}
 &:hover .auth-nav__icon,
&:focus .auth-nav__icon {
  fill: var(--accent-color);
}
}

.auth-nav__icon {
  fill: currentColor;
  margin-right: 10px;
}
