.portfolio-position {
  background-color: var(--main-back-color);
}
.filters {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 50px;
  padding-left: 0px;

&__item:not(:first-child) {
  margin-left: 30px;
}
}


.filters__button {
  border-radius: 4px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  font-family: "Roboto", "Athelas", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  cursor: pointer;
  border-color: transparent;

  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);

  &:focus,
&:hover {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
}

/* Список робіт */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
.portfolio__link {
  display: block;
  transition: box-shadow 250ms var(--timing-function);

&:hover,
&:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

&:hover .portfolio__discription,
&:focus .portfolio__discription {
  transform: translateY(0);
}
}

.portfolio__thumb {
  display: block;
  position: relative;
  overflow: hidden;
}

.portfolio__discription {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;

  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--main-back-color);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.portfolio__caption {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
}

.portfolio__title {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 24px;
  padding-right: 24px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.portfolio__text {
  margin-top: 4px;
  margin-bottom: 0px;
  padding-left: 24px;
  padding-right: 24px;

  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
